html {
    margin: 0 auto;
}
body {
    text-align: center;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 30px;
}